# Environment
NODE_ENV=development
PORT=8002

# Database Configuration
DATABASE_URI=mongodb://localhost:27017/testie_health

# Shopify Webhook Secret for HMAC & Domain validation
SHOPIFY_WEBHOOK_SECRET=your_shopify_webhook_secret_here
SHOPIFY_WEBHOOK_SHOP_DOMAIN=your-shop-domain.myshopify.com

# Telegra
TELEGRA_BASE_URL=
TELEGRA_API_USERNAME=
TELEGRA_API_PASSWORD=
TELEGRA_ORIGIN=

# Active Backend
RENDER_EXTERNAL_URL=