# Environment
NODE_ENV=development
PORT=8002

# Database Configuration
DATABASE_URI=mongodb://localhost:27017/testie_health

# Shopify Webhook Secret for HMAC validation
SHOPIFY_WEBHOOK_SECRET=your-secret

# Telegra
TELEGRA_BASE_URL=
TELEGRA_API_KEY=

# Junction
JUNCTION_BASE_URL=
JUNCTION_API_KEY=
